@charset "UTF-8";
:root {
    --lightyellow: #FAF7EC;
    --green: #BFDA79;
    --darkgreen: #94C11E;
    --lightgreen: #e9ffaf;
    --gray: #F5F5F5;
    --darkgray: #8C8B89;
    --white: #FFFFFF;
    --black: #000000;
    --red: #E20000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--lightyellow);
    min-height: 400px;
    font-size: 22px;
}

p {
    font-size: 1.1vw;
    line-height: 1.6;
}

.headline {
    font-size: 2.6vw;
}

body > header {
    width: 100%;
    margin-top: 50px;
    position: relative;
    grid-column-start: 2;
    padding: 0 15vw;
    grid-column-end: 3;
    background: white;
}

nav {
    height: 70px;
    width: 100%;
    background-color: var(--white);
}

nav ul {
    list-style-type: none;
    margin-left: 170px;
    padding-top: 21px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--darkgray);
    font-size: 1vw;
    font-weight: 600;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

nav ul li.active a {
    color: var(--darkgreen);
}

nav ul li a:hover {
    color: var(--darkgreen);
}

.logo {
    top: -40px;
    position: absolute;
    width: 150px;
    height: auto;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

#menuButton {
    display: none;
}

.nav-btn {
    position: absolute;
    border: 1px solid var(--darkgreen);
    border-radius: 30px;
    text-align: center;
    padding: 7px 15px;
    font-family: Raleway, sans-serif;
    color: var(--darkgray);
    text-decoration: none;
    right: 15vw;
    top: 25%;
    font-size: 1vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav-btn:hover {
    background-color: var(--darkgreen);
    opacity: 70%;
    color: #FFFFFF;
}

section {
    padding: 150px 0;
    position: relative;
}

/* default section */
section p {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

section .item-header {
    color: white;
    background-color: var(--darkgreen);
    position: relative;
    padding: 20px 0;
}

section .item-header::before, section .item-header::after {
    content: ' ';
    height: 100%;
    background-color: var(--darkgreen);
    position: absolute;
    z-index: 100;
} 

section .item-header::before {
    top: 0;
    width: 50px;
    left: -50px;
}

section .item-header::after {
    width: 65%;
    right: -65%;
    top: 0;
    z-index: 1;
}

section .headline {
    position: relative;
    font-weight: 600;
    width: 100%;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    z-index: 150;
    position: relative;
}

section .item-header .link {
    color: var(--lightgreen);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    margin-top: 4px;
    font-size: 1.3vw;
}

section .item-header .link:visited {
    color: var(--lightgreen);
}

section .item-header .link:hover {
    color: var(--white);
}

/* flipped section */
section.flipped {
    background-color: var(--white);
}

section.flipped img {
    right: unset;
    left: 0;
}

section.flipped .item-header {
    padding: 20px 0;
}

section.flipped .item-header::before {
    width: 55px;
    left: unset;
    right: -50px;
}

section.flipped .item-header::after {
    right: unset;
    left: -65%;
}

/* christmas section */

.christmas .item-header {
    background-color: #E20000;
}

.christmas .item-header::before,
.christmas .item-header::after {
    background-color: #E20000;
}

/*footer section*/

footer section span {
    color: var(--darkgreen);
    font-weight: 600;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 34vw;
}

/* Grid */
.item-image {
    grid-area: image;
}

.item-paragraph {
    grid-area: paragraph;
}

.item-header {
    grid-area: header;
    align-self: baseline;
}

.item-address {
    grid-area: address;
    align-self: center;
}

.item-centre-hours {
    grid-area: centreHours;
    align-self: center top;
}

.item-staff-hours {
    grid-area: staffHours;
}

.item-welcome {
    grid-area: welcome;
    margin-top: 30px;
}

.item-testimonial-one {
    grid-area: testimonial-one;
}

.item-testimonial-two {
    grid-area: testimonial-two;
}

.item-testimonial-three {
    grid-area: testimonial-three;
}

.grid-section {
    display: grid;
    grid-template-columns: 15vw 1fr 5vw 1fr 15vw;
    grid-template-rows: auto auto;
    grid-template-areas:
        ". header . image ."
        ". paragraph . image .";
}

.grid-section-flipped {
    grid-template-areas: 
    ". image . header ."
    ". image . paragraph .";
}

.grid-footer {
    display: grid;
    grid-template-columns: 15vw 2fr 5vw 1fr 1fr 15vw;
    grid-template-rows: auto 25% 35% auto;
    grid-template-areas:
        ". image . header header ."
        ". image . address address. "
        ". image . staffHours centreHours ."
        ". image . welcome welcome .";
}

.grid-testimonials {
    display: grid;
    grid-template-columns: 15vw 1fr 1fr 1fr 15vw;
    grid-template-rows: auto auto;
    grid-template-areas:
        ". header header header ."
        ". testimonial-one testimonial-two testimonial-three .";
    background-color: var(--darkgreen);
}

.grid-testimonials article .item-header::before,
.grid-testimonials article .item-header::after {
    display: none;
    background-color: transparent;
}

.grid-testimonials article {
    text-align: center;
    color: var(--white);
    display: grid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.grid-testimonials article i {
    color: var(--lightgreen);
    margin: 40px 0 20px 0;
}

.grid-testimonials article .item-header {
    background-color: transparent;
}

.grid-testimonials .item-header {
    text-align: center;
    color: var(--lightgreen);
    margin-bottom: 70px;
}

section.grid-testimonials .item-header::before, section.grid-testimonials .item-header::after {
    display: none;
}

.grid-testimonials article p {
    padding: 0 20px;
}

/*Small laptops & bigger tablets*/
@media (min-width: 1024px) and (max-width: 1440px) {
    section {
        padding: 125px 0;
        position: relative;
    }

    p {
        font-size: 1.4vw;
        line-height: 1.6;
    }

    nav ul li a {
        font-size: 1.4vw;
    }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-left: 0;
    }

    nav ul li a {
        font-size: 1.8vw;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    .nav-btn {
        display: none;
    }
    
    p {
        font-size: 1.6vw;
        line-height: 1.6;
    }
    
    section article .item-header::before {
        width: 50px;
    } 
    
    section.flipped .item-header::before {
        width: 32px;
        left: unset;
        right: -30px;
    }

    section .item-header::before {
        width: 32px;
        left: -30px;
    }
    
    section {
        padding: 125px 0;
        position: relative;
    }
}

/* common tablets - small laptops */
@media (min-width: 768px) and (max-width: 1440px) {
    .headline {
        font-size: 2.8vw;
        z-index: 10;
    }

    .link {
        position: relative;
        z-index: 10;
    }

    .logo {
        width: 120px;
        top: -26px;
    }
}

/*Phones & phablets*/
@media (max-width: 768px) {
    .grid-section {
        display: grid;
        grid-template-columns: 10vw 1fr 10vw;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            ". header ."
            ". image ."
            ". paragraph .";
    }

    .grid-footer {
        display: grid;
        grid-template-columns: 8vw 1fr 1fr 8vw;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            ". header header ."
            ". image image ."
            ". address address ."
            ". staffHours centreHours ."
            ". welcome welcome .";
    }

    .grid-testimonials {
        grid-template-columns: 10vw 1fr 10vw;
        grid-column-gap: 0;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            ". header ."
            ". testimonial-one ."
            ". testimonial-two ."
            ". testimonial-three .";
        background-color: var(--darkgreen);
    }

    .grid-testimonials article {
        margin: 20px 0;
    }

    .grid-testimonials article header {
        color: var(--white);
    }

    .grid-testimonials article header h3 {
        font-size: 4.4vw;
    }

    .grid-testimonials article p {
        margin-top: 0;
    }

    .grid-testimonials article header .fa {
        position: relative;
        margin: 30px 0 20px 0;
        font-size: 5vw;
    }

    .grid-testimonials .item-header {
        margin: 20px 0;
    }

    body > header {
        margin: 60px 0;
    }

    .item-address,
    .item-welcome {
        text-align: center;
    }

    section .item-header .link {
        color: var(--darkgray);
        margin: 10px 0;
        font-size: 4vw;
    }

    section .item-header .link:visited {
        color: var(--darkgray);
    }

    section .item-header::before, 
    section .item-header::after {
        display: none;
    }
    
    section.christmas .item-header {
        background: transparent;
        color: var(--red);
    }

    section .item-header {
        background: transparent;
        color: var(--darkgreen);
        margin-bottom: 20px;
    }

    section, section.flipped {
        padding: 20px 0;
    }

    .headline {
        font-size: 6vw;
        line-height: 1.2;
        text-align: center;
    }

    section article .item-header,
    section.flipped .item-header {
        padding: 20px 0;
        width: 100%;
        color: var(--darkgreen);
        background: transparent;
        text-align: center;
    }

    .christmas article .item-header {
        background: transparent;
        color: var(--red);
    }

    section article .item-header .link,
    section article .item-header .link:visited {
        color: var(--darkgray);
        font-size: 4vw;
    }
    

    section img {
        width: 70%;
        margin: 0 15%;
        position: relative;
    }

    section p {
        width: 100%;
        margin: 40px 0 20px 0;
        font-size: 3vw;
    }

    section article header::before {
        display: none;
    }

    .logo {
        width: 100px;
        left: 10vw;
        top: -26px;
        margin: 0;
    }

    .nav-btn {
        display: none;
    }

    #menuButton {
        display: block;
    }
    
    header #menuButton {
        position: absolute;
        right: 10vw;
        top: 14px;
        color: var(--darkgray);
    }
    
    header nav {
        background-color: var(--white);
        height: 50px;
        -webkit-transition: 0.15s ease-out;
        transition: 0.15s ease-out;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    header nav ul {
        text-align: center;
        list-style-type: none;
        padding: 15px 0 0 0;
        margin: 0;
    }
    
    header nav.active {
        height: 200px;
    }
    
    header nav ul li {
        opacity: 0;
        margin: 20px 0;
        display: block;
        pointer-events: none;
    }

    header nav ul li:first-child {
        margin-top: 0;
    }

    header nav ul li:last-child {
        margin-bottom: 0;
    }
    
    header nav.active ul li {
        opacity: 1;
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        pointer-events: all;
    }
    
    header nav ul li.active {
        color: var(--darkgreen);
    }

    header nav.active ul li::after {
        opacity: 1;
    }
    
    header nav ul li::after {
        content: ' ';
        display: block;
        height: 2px;
        width: 50px;
        background-color: var(--darkgreen);
        margin-left: calc(50% - 25px);
        margin-top: 21px;
        -webkit-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
        opacity: 0;
    }
    
    header nav ul li:last-child::after {
        content: ' ';
        display: none;
    }

    header nav ul li a {
        font-size: 3.2vw;
    }

    footer section .item-header .headline {
        margin-bottom: 20px;
    }
}

@media (max-width: 475px) {
    header nav ul li a {
        font-size: 4vw;
    }

    section p {
        font-size: 3.4vw;
    }

    .logo.small {
        width: 60px;
        top: 4px;
    }
}